@font-face
	font-family: 'Lato-Regular'
	src: url('../fonts/Lato-Regular/Lato-Regular.eot')
	src: url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular/Lato-Regular.woff2') format('woff2')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Lato-Bold'
	src: url('../fonts/Lato-Bold/Lato-Bold.eot')
	src: url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold/Lato-Bold.woff2') format('woff2')
	font-weight: normal
	font-style: normal
